@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam&family=Codystar&family=Italiana&display=swap");

body {
  background-color: grey;
  font-family: "Anek Malayalam", sans-serif;
  /* font-family: 'Codystar', cursive; */
}

.movie-vote-border {
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.movie-vote-border.green {
  background-color: green;
}

.movie-vote-border.orange {
  background-color: orange;
}

.movie-vote-border.red {
  background-color: red;
}

.handmade-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hover-text {
  position: absolute;
  font-family: "Italiana", serif;
  color: white;
  transform: translateY(220px) translateX(80px);
  font-size: 3rem;
  text-transform: uppercase;
  overflow: hidden;
}

.hover-text .par {
  transform: translateY(200px);
  border: 3px solid red;
  padding: 0.3rem 0.7rem;
  transition: all 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.img-movie:hover .par {
  transform: translateY(0);
  color: red;
  font-weight: 800;
}
